.ring {
    position: relative;
    flex-shrink: 0;
}

.ring svg {
    display: block;
}

.center {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value {
    font-size: 16px;
    font-weight: 600;
    color: var(--sea-blue);
    line-height: 1;
}